* {
  box-sizing: border-box;
  font-family: 'OCR A Std', monospace;
  color: black;
}

.background-image {
  background: url('NPS_ActSeach_Background.jpeg') center center;
  background-repeat: no-repeat; 
  background-size: cover;
  text-align: center;
  width: 100%;
  max-width:100%;
  border: 5px solid wheat;
  height:500px;
  padding: 50px;
  margin: auto;
  font-family: 'OCR A Std', monospace;
}

h1#backgroundPic {
  text-align: center;
  color: whitesmoke;
  font-size: xx-large;
  }

body {
  font-family: 'OCR A Std', monospace;
  display: unset;
  margin: unset;
  background-color: limegreen;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

li {
  max-width: 500px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}

h1 {
  color: black;
  font-size: large;
  font-family: 'OCR A Std', monospace;
  text-align: center;
  margin: 0 0 30px 10px;
}

h2 {
  color: black;
  font-size: large;
  font-family: 'OCR A Std', monospace;
  text-align: center;
  margin: 0 10px;
}

/* MEDIA QUERIES */
@media all and (min-width: 800px) {
  .group {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px; 
  }
  p {
    font-size: large;
  }  
  * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media all and (min-width: 400px) {
  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px; 
    flex-wrap: wrap; 
  }
  p {
    font-size: large;
  }  

  .form {
    margin: 0; 
  }  
  * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media all and (min-width: 800px) {
  .group {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px; 
  }
  p {
    font-size: large;
  }  
  * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media all and (min-width: 400px) {
  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px; 
    flex-wrap: wrap; 
  }
  p {
    font-size: large;
  }  

  .form {
    margin: 0; 
  }  
  * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}