* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

li, img {
  max-width: 500px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}

h1 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
  margin: 0 0 30px 10px;
}

h2 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
  margin: 0 10px;
}

/* LARGER THAN 700PX */
@media (min-width: 700px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .main-nav-list-item {
    float:left;
    width: 25%;
  }
  .box {
    width: 47%;
    float: left;
  }
  .box:nth-child(odd) {
    margin-right: 6%;
  }
}

  /* LARGER THAN 1024 PX */ 
  @media (min-width: 1024px) {
    .box {
      width: 29.33%;
      float: left;
      margin-right: 6%;
    }
    .box:nth-child(3n+3) {
      margin-right: 0;
    }
  }